.underline-animation {
    position: relative;
    overflow: hidden;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(200, 14, 144);
    transform: scaleX(0);
    transform-origin: bottom left;
    animation: underline 2s forwards;
    animation-delay: 3s;
}

@keyframes underline {
    from {
        transform: scaleX(0);
        transform-origin: bottom left;
    }

    to {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.fade-in-container {
    opacity: 0;
    /* Start with opacity 0 */
    animation: fadeIn 1s ease-in forwards;
    /* Fade in animation */
    animation-delay: 1s;
    /* Delay the start of animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    bottom: 50%;
}

.video-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow-text {
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.text-container {
    position: relative;
    display: inline-block;
}

.lottie-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    z-index: 0;
    pointer-events: none;
}

.text-container h1 {
    z-index: 1;
    position: relative;
}

@media (max-width: 800px) {
    .mobile-vertical-stack {
        flex-direction: column;
        text-align: center;
    }

    .wrapper {
        height: 1000px;
    }
}

.image-container {
    max-width: 100%;
    height: auto;
}

.image-container-custom {
    max-width: 380px;
}

.adjust-position {
    justify-content: center;
}

.adjust-position2 {
    justify-content: start;
}


.custom-width {
    max-width: 400px;
    /* Adjust this value as needed */
    width: 100%;
    /* Ensures the span doesn't overflow its container */
}

.responsive-image {
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .mobile-vertical-stack2 {
        flex-direction: column;
        text-align: center;
    }

    .adjust-position {
        justify-content: center;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .responsive-image {
        width: 150%;
        /* Adjust the width as needed */
        max-width: none;
    }

    .display-1 {
        font-size: 2.5rem;
        /* Adjust the font size for smaller screens */
    }

    .text-container {
        text-align: center;
        margin-bottom: 20px;
        /* Add some spacing */
    }

    .sign-container {
        width: 100%;
        /* Ensure the image fits within its container */
    }

    .custom-height {
        height: 100%;
        min-height: 200px;
        /* Adjust minimum height for small screens */
    }

    .chart-container {
        max-width: 100%;
        /* Ensure the chart container is full width on small screens */
    }

}

.sign-container {
    width: 100%;
    height: auto;
}

.custom-height {
    height: 100%;
    min-height: 300px;
    /* Ensure a minimum height for the bar chart */
}

.chart-container {
    width: 100%;
    max-width: 500px;
    /* Set the maximum width for the chart */
}