.navbar {
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}

.navbar.hide {
    top: -500px;
}

.navbar.show {
    top: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 2000;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-center;
    gap: 3rem;
    padding: 3rem;
}

.button-reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .custom-font {
        font-size: 0.875rem;
    }

    .custom-red-font {
        font-size: 2rem;
    }

    .custom-blue-font {
        font-size: 1rem;
    }

    .bg-white {
        padding: 1rem !important;
    }

    h1.display-1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    .pie-chart-container {
        width: 100%;
        max-width: 250px;
    }

    .pie-chart-container .recharts-wrapper {
        width: 100% !important;
        height: auto !important;
    }
}