.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent gray background */
    z-index: 1000;
    /* Ensure the overlay is above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10rem;
}

.mobile-format2 {
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 800px) {
    .modal-content {
        margin: 1rem;
    }

    .mobile-format {
        flex-direction: column;
    }

    .mobile-format h2 {
        order: 2;
    }

    .mobile-format2 {
        order: 1;
    }
}