// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #01CDA9;
$secondary: #353535;
$outline: #CCCCCC;


// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";