// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #01CDA9;
$secondary: #353535;
$outline: #CCCCCC;

$custom-color: #82744e; // Define your custom color here

.custom-btn {
  background-color: $custom-color;
  border-color: $custom-color; // Optional: Set border color same as background color for a solid color button
}

.custom-btn:hover {
  background-color: darken($custom-color, 10%); // Darken the color slightly on hover
}

.custom-bg {
  background-color: $custom-color;
}


// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";